@using Soenneker.Quark.Enums.Colors
@using Soenneker.Quark.Divs
@inherits Soenneker.Quark.Components.Element

<Div Class="steps" @attributes="BuildAttributes()">
    @ChildContent
</Div>

@code {
    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter]
    public bool Vertical { get; set; }

    [Parameter]
    public bool Numbered { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        var baseClasses = "steps";
        if (Vertical)
            baseClasses = $"{baseClasses} steps-vertical";
        if (Numbered)
            baseClasses = $"{baseClasses} steps-numbered";

        attributes["class"] = AppendToClass(attributes.GetValueOrDefault("class")
            ?.ToString(), baseClasses);

        return attributes;
    }
}
